* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: Roboto, Helvetica, sans-serif;
}

.head {
    background-color: #f7f8f8;
    width: 100%;
    height: 119px;
    position: fixed;
    top: 0px;
}

nav {
    margin-top: 120px;
}

.first {
    color: blue;
    font-size: 200%;
    font-weight: bold;
    padding-right: 2%;
    padding-left: 10%;
    padding-top: 5%;
}

.sec {
    font-size: 100%;
    font-weight: bold;
    padding-right: 2%;
    padding-left: 1%;
}

#cont1 {
    border: 0.5px solid;
    border-radius: 50% 50% 50% 50%;
    padding: 0.2%;
}

#cont2 {
    border: 0.5px solid;
    border-radius: 50% 50% 50% 50%;
    padding: 0.2%;
}

#low {
    width: 80px;
    height: 80px;
    padding-right: 2%;
    padding-left: 9%;
}

#head2 {
    display: flex;
    margin-left: auto;
    margin-right: 10px;
}

#low1 {
    background-color: white;
    width: 220px;
    height: 44px;
    padding: 2px 5px;
    border-radius: 4px;
    margin-top: 1.5%;
    margin-right: 10px;
}

#low2 {
    background-color: white;
    width: 400px;
    height: 44px;
    padding: 2px 5px;
    border-radius: 4px 0px 0px 4px;
    margin-top: 1.5%;
}

#low3 {
    background: #000;
    color: white;
    width: 50px;
    height: 48px;
    margin-top: 1.5%;
    padding: 2px;
    border-radius: 0px 4px 4px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}

#low4,
#low5 {
    font-size: 22px;
    margin-left: 40px;
    margin-top: 35px;
}

#low6 {
    margin-left: 40px;
    margin-top: 30px;
    display: flex;
}

#low6>img {
    width: 35px;
    height: 35px;
}

#low6>i {
    margin-top: 8px;
}

#head3 {
    padding: 5px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1);
    display: flex;
    text-align: center;
    font-family: Roboto, Helvetica, sans-serif;
    height: 48px;
}

#card {
    width: 300px;
    height: 320px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

#card>#div1 {
    width: 300px;
    border-bottom: 1px solid lightgray;
    height: 170px;
}

#card>#div1>img {
    width: 300px;
    height: 170px;
}

#card>#div2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 40%;
    padding-left: 20px;
}

#card>#div2>.location,
.time {
    color: gray;
    font-size: small;
}

.list {
    padding: 0px 20px 0px 0px;
    flex-direction: column;
    align-self: center;

}

.h1 {
    padding-left: 10%;
    margin-top: 100px;
    margin-bottom: 20px;
}

.imgDivItem {
    width: 88px;
    height: 88px;
    margin: 13px 21px 65px 21px;
}

.imgDivItem>img {
    width: 88px;
    height: 88px;
}

.imgDivItem>p {
    word-wrap: break-word;
    font-weight: bold;
    text-transform: capitalize;
}

.container {
    text-align: center;
}

#imgDiv {
    display: flex;
    flex-wrap: wrap;
    width: 74%;
    margin: 0 auto;
}

.navDropDown {
    padding: 0px 30px 0px 0px;
    display: flex;
    align-items: center;
    margin-left: 150px;
    font-weight: bold;
}

#div1>img {
    width: 284px;
    height: 164px;


}

#sec {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: 20px 0px;
}

.mainSec {
    width: 81%;
    margin: 35px auto;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    font-family: Roboto, Helvetica, sans-serif;
}